#frm_new_item {
    border: var(--border) var(--color-green);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}


#frm_signup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem
}

#frm_signup div {
    display: flex;
    flex-direction: column;
}

#frm_signup label {
    display: flex;
}

#frm_signup label span:last-child {
    margin-left: auto;
    color: var(--color-light-gray);
}

#frm_signup input,
#frm_signup select {
    width: 100%;
    border: var(--border-input) var(--color-border);
    padding: 0.5rem;
}

#frm_signup button {
    padding: 0.5rem 1rem;
}


#frm_login {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem
}

#frm_login input {
    width: 100%;
    border: var(--border-input) var(--color-border);
    padding: 0.5rem;
}


#frm_login button {
    padding: 0.5rem 1rem;
}

form input {
    width: 100%;
    padding: 10px;
    border: var(--border-input) var(--color-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-bottom: 1rem;
}


form {

    border-radius: var(--border-radius);
}

label {
    display: block;

}

input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: var(--border-input) var(--color-border);
}

.login-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-form {
    align-items: center;
    width: 100%;
}

.booking-input {
    flex: 2;
    margin-right: 10px;
}

.booking-form .label-text {
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.label-text span {
    color: var(--color-border);

}

.booking-input {
    display: flex;
    align-items: baseline;
    width: 100%;
}