.modal-close {
    position: absolute;
    right: 5px;
    top: 2px;
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    line-height: 0.5;
    color: var(--color-light-gray);



}

.imageCreateModal {
    position: relative;
    padding: 20px;
    border: var(--border-input) var(--color-border);
    border-radius: var(--border-radius);
    width: auto;
    max-width: 50%;
    height: 17rem;
    margin: 2rem;
}

.imageUpdateModal {
    position: relative;
    padding: 20px;
    border: var(--border-input) var(--color-border);
    border-radius: var(--border-radius);
    width: auto;
    max-width: 50%;
    height: 17rem;
    margin: 2rem;
}

#deleteUserModal {
    position: relative;
    padding: 20px;
    border: var(--border-input) var(--color-border);
    border-radius: var(--border-radius);
    width: auto;
    max-width: 50%;
    height: 17rem;
    margin: 2rem;
}

.modal-content {
    margin-top: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}


.showUpdateImageModal,
.showCreateImageModal {

    background-color: var(--color-more);
    color: var(--color-white);

}

.showUpdateImageModal:hover,
.showCreateImageModal:hover {
    background-color: var(--color-more-dark);
}

.mapboxgl-popup-close-button {
    background-color: transparent;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
}