% from utility import regexes
    
        <form id="frm_password_reset">
            <div id="message"></div>

            <div class="flex flex-col">
                <label for="user_password" class="flex">
                    <span>New password</span>
                    <span class="ml-auto text-neutral-400">{{regexes.USER_PASSWORD_MIN}} to {{regexes.USER_PASSWORD_MAX}} characters</span>
                </label>
                <input 
                maxlength={{regexes.USER_PASSWORD_MAX}}
                name="user_password" 
                type="password"
                mix-check="{{regexes.USER_PASSWORD_REGEX}}">
            </div> 

            <button mix-put="/reset_password/{{key}}" mix-data="#frm_password_reset">
                Reset
            </button>
        </form>
    
      
        
