% from utility import regexes

<form id="frm_signup" autocomplete="off">
    <div id="message"></div>
    
    <div>
        <label for="user_username">
            <span>Username</span>    
            <span>{{regexes.USER_USERNAME_MIN}} to {{regexes.USER_USERNAME_MAX}} characters</span>            
        </label>
        <input name="user_username" type="text" mix-check="{{regexes.USER_USERNAME_REGEX}}">
    </div>

    <div>
        <label for="user_first_name">
            <span>first name</span>  
            <span>{{regexes.USER_FIRST_NAME_MIN}} to {{regexes.USER_FIRST_NAME_MAX}} characters</span>              
        </label>
        <input name="user_first_name" type="text" mix-check="{{regexes.USER_FIRST_NAME_REGEX}}">
    </div>

    <div>
        <label for="user_last_name">
            <span>last name</span>
            <span>{{regexes.USER_LAST_NAME_MIN}} to {{regexes.USER_LAST_NAME_MAX}} characters</span>                
        </label>
        <input name="user_last_name" type="text" mix-check="{{regexes.USER_LAST_NAME_REGEX}}">
    </div>

    <div>
        <label for="user_email">
            <span>email</span>                
        </label>
        <input name="user_email" type="email" mix-check="{{regexes.USER_EMAIL_REGEX}}">
    </div>

    <div>
        <label for="user_password">
            <span>password</span>
            <span>{{regexes.USER_PASSWORD_MIN}} to {{regexes.USER_PASSWORD_MAX}} characters</span>
        </label>
        <input maxlength="{{regexes.USER_PASSWORD_MAX}}" name="user_password" type="password" mix-check="{{regexes.USER_PASSWORD_REGEX}}">
    </div> 
    
    <div>
        <label for="role_type">Account type</label>
        <select name="role_type" id="role_type">
            <option value="3">user</option>
            <option value="2">partner</option>
        </select>
    </div>

    <button mix-post="/signup" mix-data="#frm_signup" mix-default="Signup" mix-await="Please wait ...">
        Signup
    </button>
</form>

<style>
    #frm_signup {
        display: flex;
        flex-direction: column;
        gap: 8px; 
        width: 50%; 
        margin: 0 auto; 
    }

    #frm_signup div {
        display: flex;
        flex-direction: column;
    }

    #frm_signup label {
        display: flex;
    }

    #frm_signup label span:last-child {
        margin-left: auto;
        color: #9ca3af; 
    }

    #frm_signup input,
    #frm_signup select {
        width: 100%; 
        border: 1px solid #ccc; 
        padding: 0.5rem; 
    }

    #frm_signup button {
        padding: 0.5rem 1rem; 
    }
</style>