% if item and item.get("item_pk"):
<dialog class="imageCreateModal" id="imageCreateModal_{{item['item_pk']}}">
    <button id="close">&times;</button>
    <section>
        <form id="image_create_{{item['item_pk']}}">
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*" mix-check="{{regexes.ITEM_IMAGE_REGEX}}">
            <button mix-post="/items/image/{{item['item_pk']}}" mix-default="Add" mix-await="Saving..." mix-data="#image_create_{{item['item_pk']}}">
                Add
            </button>
            <button id="cancel">Cancel</button>
        </form>
    </section>
</dialog>
% end
