% from utility import regexes
    
        <form id="frm_send_password">
            <div id="message"></div>

            <div id="send-reset">
                <label for="user_email" class="flex">
                    <span>email</span>                
                </label>
                <input 
                name="user_email" 
                type="email" 
                mix-check="{{regexes.USER_EMAIL_REGEX}}">
            </div>

            <button mix-post="/request_reset_password" mix-data="#frm_send_password">
                Send reset email
            </button>
        </form>
    
