% from utility import regexes

<form id="frm_signup" autocomplete="off">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}">
    
   <div>
        <label for="user_username">
            <span>Username</span>
            <span>{{regexes.USER_USERNAME_MIN}} to {{regexes.USER_USERNAME_MAX}} characters</span>
        </label>
        <input name="user_username" type="text" value="" mix-check="{{regexes.USER_USERNAME_REGEX}}">
   </div>

    <div>
        <label for="user_first_name">
            <span>First name</span>
            <span>{{regexes.USER_FIRST_NAME_MIN}} to {{regexes.USER_FIRST_NAME_MAX}} characters</span>
        </label>
        <input name="user_first_name" type="text" mix-check="{{regexes.USER_FIRST_NAME_REGEX}}">
    </div>

    <div>
        <label for="user_last_name">
            <span>Last name</span>
            <span>{{regexes.USER_LAST_NAME_MIN}} to {{regexes.USER_LAST_NAME_MAX}} characters</span>
        </label>
        <input Name="user_last_name" type="text" mix-check="{{regexes.USER_LAST_NAME_REGEX}}">
    </div>

    <div>
        <label for="user_email">
            <span>Email</span>
            <span></span>
        </label>
        <input name="user_email" type="email" mix-check="{{regexes.USER_EMAIL_REGEX}}">
    </div>

    <div>
        <label for="user_password">
            <span>Password</span>
            <span>{{regexes.USER_PASSWORD_MIN}} to {{regexes.USER_PASSWORD_MAX}} characters</span>
        </label>
        <input maxlength="{{regexes.USER_PASSWORD_MAX}}" name="user_password" type="password"
            mix-check="{{regexes.USER_PASSWORD_REGEX}}">
    </div>

    <div>
        <label for="role_type">Account type</label>
        <select name="role_type" id="role_type">
            <option value="user">User</option>
            <option value="partner">Partner</option>
        </select>
    </div>

    <button class="save" mix-data="#frm_signup" mix-post="/signup" mix-default="Create account" mix-await="Please wait ...">
        Create account
    </button>
</form>