% if item and item.get("item_pk"):
<dialog class="imageCreateModal" id="imageCreateModal_{{item['item_pk']}}">
    <button id="close" class="modal-close">&times;</button>
    <section class="modal-content">
        <form id="image_create_{{item['item_pk']}}" class="modal-form">
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*" mix-check="{{regexes.ITEM_IMAGE_REGEX}}">
            <div class="modal-buttons">
                <button class="save" mix-post="/items/image/{{item['item_pk']}}" mix-default="Add" mix-await="Saving..." mix-data="#image_create_{{item['item_pk']}}">
                    Add
                </button>
                <button id="cancel" class="delete">Cancel</button>
            </div>
        </form>
    </section>
</dialog>
% end

