% if defined("item") and item and item.get("item_pk"):
<dialog class="imageUpdateModal" id="imageUpdateModal_{{item['item_pk']}}">
    <button id="close" class="modal-close">&times;</button>
    <section>
        <form id="image_update_{{item['item_pk']}}">
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*" mix-check="{{regexes.ITEM_IMAGE_REGEX}}">
            <input type="hidden" name="oldname" value="">
            <div>
                <strong>Current image:</strong>
                <p class="filename"></p>
            </div>
            <button class="save"  mix-put="/items/image/{{item['item_pk']}}" mix-default="Update" mix-await="Updating..." mix-data="#image_update_{{item['item_pk']}}">
                Update
            </button>
            <button class="delete" id="cancel">Cancel</button>
        </form>
    </section>
</dialog>
% end
