<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/mixhtml.js" defer></script>
    <script src="/js/app.js" defer></script>
   

    <title>{{ get("title", "Company") }}</title>
</head>

<body>

    <div id="toast"></div>

    <nav>
        <a class="home" href="/" class="{{ get('active_home', '') }}">Home-Away</a>

        <div class="flex-nav">
            % if get("is_logged", False):
            <p>You are logged in as: {{user['user_first_name']}}</p>

            % if user and (user['user_role'].value in ["admin", "partner"]):
            <a href="/items/user" class="{{ get('active_login', '') }}">Your property</a>
            % end

            % if user and user['user_role'].value == "admin":
            <a href="/users" class="{{ get('active_login', '') }}">All users</a>
            % end

            
             <a href="/bookings" class="{{ get('active_login', '') }}">Your Bookings</a>

            <a href="/profile" class="{{ get('active_login', '') }}">Your Profile</a>
            <a class="logout" href="/logout" class="{{ get('active_login', '') }}">Logout</a>
            % else:
            <a href="/login" class="{{ get('active_login', '') }}">Login</a>
            <a href="/signup" class="{{ get('active_login', '') }}">Sign Up</a>
            % end
        </div>
    </nav>