% import variables

% include("__frm_image_create")
% include("__frm_image_update")

<div id="item_{{item['item_pk']}}" class="item">

    <form id="frm_item_{{item['item_pk']}}" enctype="multipart/form-data">

        <label for="item_name">Item Name:</label>
        <input name="item_name" value="{{item['item_name']}}" >

        <label for="item_lat">Latitude:</label>
        <input name="item_lat" value="{{item['item_lat']}}" mix-check="{{variables.ITEM_LATLON_REGEX}}">

        <label for="item_lon">Longitude:</label>
        <input name="item_lon" value="{{item['item_lon']}}" mix-check="{{variables.ITEM_LATLON_REGEX}}">

        <label for="item_price_per_night">Price Per Night:</label>
        <input name="item_price_per_night" type="number" value="{{item['item_price_per_night']}}" mix-check="{{variables.ITEM_PRICE_REGEX}}">

        % if item.get("images"):
            % for image in item['images']:
            <div id="{{image}}">
                <img src="/images/{{image}}" alt="Image" style="max-width: 100px; max-height: 100px;">
                <button class="showUpdateImageModal" id="{{image}}" data-item="{{item['item_pk']}}">Update image</button>
            </div>
            % end
        % end
        <button class="showCreateImageModal" id="new" data-item="{{item['item_pk']}}">Add image</button>
            
        <button mix-put="/items/{{item['item_pk']}}" mix-data="#frm_item_{{item['item_pk']}}" mix-default="Save" mix-await="Updating item...">
            Save
        </button>

        <button mix-delete="/items/{{item['item_pk']}}" mix-default="Delete" mix-await="Deleting...">
            Delete
        </button>
    </form>
</div>