% from utility import regexes
<div class="item">
    % if get("is_admin", False) or item["item_visibility"] == "public":
    <div class="carousel-container">
        <div class="carousel">
            % for image in item['images']:
            <div class="carousel-item">
                <img src="images/{{image}}" alt="Image description">
            </div>
            % end
        </div>
    </div>
     <!-- Privat ikon/tekst for admins -->
     % if get("is_admin", False) and item["item_visibility"] == "private":
     <div class="admin-private-indicator">
         <span class="private-icon">🔒</span>
         <span class="private-text">Private</span>
     </div>
     % end
 
    <div class="item-card">
        <span class="item-name">{{item["item_name"]}}</span>
        <span class="star">
            %include("__star")
            {{item["item_stars"]}}
        </span>
    </div>

   
    <div>
        <span class="font-medium">
            % price = int(item["item_price_per_night"])
            % price = "{:,.0f}".format(price).replace(",", ".")
            {{ price }} DKK
        </span>
        <span>per night</span>
        % if get("is_logged", False):
        %include("__btn_book")
        % end

        <!-- Toggle block/unblock for admins with password confirmation -->
        %
        % if get("is_logged", False) and get("is_admin", False):
        %include("__toggle_block_item")
        % end
       

        % end
    </div>
    % end
</div>
