% from utility import regexes

% include("__frm_image_create")
% include("__frm_image_update")

<div id="item_{{item['item_pk']}}" class="item">

    <form id="frm_item_{{item['item_pk']}}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}">

        <label for="item_name">Item Name:</label>
        <input name="item_name" value="{{item['item_name']}}" mix-check="{{regexes.ITEM_NAME_REGEX}}">

        <label for="item_lat">Latitude:</label>
        <input name="item_lat" value="{{item['item_lat']}}" mix-check="{{regexes.ITEM_LATLON_REGEX}}">

        <label for="item_lon">Longitude:</label>
        <input name="item_lon" value="{{item['item_lon']}}" mix-check="{{regexes.ITEM_LATLON_REGEX}}">

        <label for="item_price_per_night">Price Per Night:</label>
        <input name="item_price_per_night" type="number" value="{{item['item_price_per_night']}}" step="0.1"
            mix-check="{{regexes.ITEM_PRICE_REGEX}}">

        % if item.get("images"):
        <div class="image-row">
            % for image in item['images']:
            <div id="{{image}}" class="image-container">
                <img src="/images/{{image}}" alt="Image">
                <button class="showUpdateImageModal" id="{{image}}" data-item="{{item['item_pk']}}">Update
                    image</button>
            </div>
            % end
        </div>
        % end

        <button class="showCreateImageModal" id="new" data-item="{{item['item_pk']}}">Add new image</button>
        <button class="save" mix-put="/items/{{item['item_pk']}}" mix-data="#frm_item_{{item['item_pk']}}"
            mix-default="Save" mix-await="Updating item...">
            Save changes
        </button>

        <button class="delete" mix-delete="/items/{{item['item_pk']}}"  mix-default="Delete" mix-await="Deleting...">
            Delete property
        </button>

    </form>
       
   
     <!-- Include for toggle visibility -->
     %include("__toggle_visibility_item")
</div>
