% from utility import regexes

<div id="{{user['user_pk']}}" class="user">

    <p>Username:</p>
    <p>{{user['user_username']}}</p>
    <p>Name:</p>
    <p>{{user['user_first_name']}} {{user['user_last_name']}}</p>
    <p>Email:</p>
    <p>{{user['user_email']}}</p>


    <!-- % if get("is_logged", False) and get("is_admin", False) and user.get("role_id") != 1: -->
    % if get("is_logged", False) and get("is_admin", False) and user.get("user_role") != "admin":
    %include("__toggle_block_user")
    % end
</div>