% from utility import regexes

% include("__frm_image_update")

<div id="new_item" class="item">

    <form id="frm_new_item">

        <label for="item_name">Item Name:</label>
        <input name="item_name" value="" mix-check="{{regexes.ITEM_NAME_REGEX}}">

        <label for="item_lat">Latitude:</label>
        <input name="item_lat" value="" mix-check="{{regexes.ITEM_LATLON_REGEX}}">

        <label for="item_lon">Longitude:</label>
        <input name="item_lon" value="" mix-check="{{regexes.ITEM_LATLON_REGEX}}">

        <label for="item_price_per_night">Price Per Night:</label>
        <input name="item_price_per_night" type="number" value="" mix-check="{{regexes.ITEM_PRICE_REGEX}}">
    
    <button class="save" mix-post="/items" mix-data="#frm_new_item" mix-default="Add"
        mix-await="Creating item...">
        Add property
    </button>
</form>
</div>

