<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Cancellation</title>

    <style>
        h1 {
            color: purple;
        }
    </style>

</head>

<body>
    <section>
        <h1>Hi {{user_first_name}},</h1>

        <p>We are sorry to see you go. Your membership with "Home-Away" has been successfully cancelled.</p>

        <p>If there is anything we could have done better or if you have any feedback, please let us know. We are always striving to improve and would love to hear from you.</p>

        <p>Should you decide to return in the future, we would be more than happy to welcome you back.</p>

        <p>Best regards,</p>
        <p>Home-Away Team</p>
    </section>
</body>

</html>
