%include("_header")

<link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>

<script>
    mapboxgl.accessToken = '{{mapbox_token}}'
</script>

<script src="/js/map.js" defer></script>

<main class="index">
    <div class="map-container">
        <div id='map'></div>
    </div>

    <div class="items-container">
        <div id="items">
            % for item in items:
            %include("_item")
            % end
        </div>
        %include("__btn_more", page_number=2)
    </div>
</main>


%include("_footer")