%include("_header")

<main>
    <div class="itemsContainer">
        <div id="items">
            % for item in items:
                %include("_item_detail")
            % end
        </div>
    </div>
    <div class="new_item">
        %include("create_item")
    </div>
</main>


%include("_footer")

<style>
    main {
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - [FooterHeight]); 
    }

    .itemsContainer {
        width: 66.67%; 
        padding: 1rem; 
    }

    .new_item {
        width: 33.33%; 
        padding: 1rem; 
    }

    #items {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 1rem; 
        overflow-y: auto; 
    }

    @media (min-width: 600px) { 
        #items {
            grid-template-columns: repeat(2, 1fr); 
        }
    }

    @media (min-width: 1024px) { 
        #items {
            grid-template-columns: repeat(3, 1fr); 
        }
    }
</style>