<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Blocked</title>

    <style>
        h1 {
            color: purple;
        }
    </style>

</head>

<body>
    <section>
        <h1>Hi {{user_first_name}},</h1>
        
        <p>We regret to inform you that your profile has been blocked on "Home-Away".</p>
        
        <p>While your profile is blocked, you will not be able to access your account or make any bookings.</p>
                
        <p>If you have any questions or believe this is a mistake, please contact our support team.</p>        
        
        <p>Best regards,</p>
        <p>Home-Away</p>
    </section>
</body>

</html>
