<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocked property</title>

    <style>
    </style>

</head>

<body>
    <section>
        <h1>Hi {{user_first_name}},</h1>

        <p>We are pleased to inform you that the block on your property has been removed on "Home-Away".
        </p>

        <p>The customer can book your property as usual. We apologize for any inconvenience this may have caused.</p>

        <p>Best regards,</p>
        <p>Home-Away</p>
    </section>
</body>



</html>