<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations on Becoming a Partner</title>
</head>

<body>
    <section>
        <h1>Hi {{user_first_name}},</h1>
        
        <p>Congratulations! Your role on Home-Away has been updated to "Partner".</p>
        
        <p>As a partner, you now have access to exclusive features to manage your properties more effectively.</p>
                
        <p>If you have any questions, feel free to reach out to our support team.</p>        
        
        <p>Best regards,</p>
        <p>The Home-Away Team</p>
    </section>
</body>

</html>
